* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Manrope;
}

header {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 10px 20px;
    font-size: 12px;
}

header .logo{
    width:10em;

}

nav {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

nav ul {
    display: flex;
    align-items: center;
    column-gap: 15px;
    border-right: 1px solid gray;
    padding-right: 20px;
}

nav ul li {
    list-style: none;
}

nav .right-contact {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

nav .right-contact .right-contact-icon {
    width: 20%;
}

nav .right-contact .right-contact-text {
    font-size: 10px;
    line-height: 15px;
}

nav .right-contact .right-contact-text #roadtext {
    color: grey;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

/* Section one */

main {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .container {
    width: 100%;
    height: 80%;
    display: flex;
}

main .container .left-section {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: #E2E6E9; */
}

main .container .left-section .content {
    width: 80%;
}

main .container .left-section h1 {
    width: 70%;
    font-size: 48px;
}

main .container .left-section .orangebtn {
    /* Button */
    width: 35%;
    font-size: 14px;
    font-weight: bold;
    margin-top: 5%;
    background: #ff6433;
    border-radius: 12px;
    padding: 16px 40px;
    border: 0;
    color: #fff;
}

main .container .left-section .time-section {
    display: flex;
    align-items: center;
    margin-top: 30px;
    font-size: 12px;
}

.time-section img {
    width: 60%;
}

.text-section .time-text {
    width: 95%;
}

.time-text .lightgrey {
    color: grey;
}

main .container .right-img {
    width: 50%;
    height: 100%;
    background-image: url("https://fidellabz.github.io/finsweet-task/img/pexel.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

main .container .right-img #services {
    margin-left: -20%;
}

main .container .right-img #ratings {
    margin-left: 50%;
}

/* Section two */

.quote-section {
    width: 100%;
    display: flex;
    background-color: #e2e6e9;
}

.quote-section .container {
    margin-top: 80px;
    margin-bottom: 50px;
    width: 100%;
    display: flex;
}

.quote-section .container .quote-left {
    width: 50%;
    height: 100%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    /* background-color: #000; */
}

/* h1 {
    width: 100%;
    font-size: 48px;
} */

.flex {
    display: flex;
}

.textbox {
    width: 50%;
}

.textbox h5 {
    margin-top: 5px;
    font-size: 18px;
}

.textbox p {
    font-size: 14px;
    margin-top: 15px;
    color: grey;
}

.imagebox {
    width: 10%;
}

.imagebox img {
    width: 80%;
}

.quote-section .container .quote-left .left-section ul {
    list-style: none;
    margin-top: 30px;
}

.quote-section .container .quote-left .left-section ul li {
    margin-bottom: 20px;
}

.quote-section .container .quote-left .left-section ul li .more {
    /* know more */
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}

.quote-section .container .quote-left .left-section ul li .more p a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: bold;
}

.quote-section .container .quote-left .left-section ul li .more img {
    margin-top: -15px;
    margin-left: 160px;
    width: 30px;
}

.quote-section .container .quote-right {
    width: 50%;
    height: 100%;
    margin-right: 10%;
    padding: 10px;
}

.quote-section .container .quote-right h3 {
    margin-top: 8px;
    width: 90%;
    font-size: 45px;
}

.quote-section .container .quote-right form {
    margin-top: 10px;
}

.quote-section .container .quote-right .inputbox {
    width: 90%;
    height: 65px;
}

.quote-section .container .quote-right input {
    margin-bottom: 10px;
    height: 60px;
    width: 110%;
    padding: 10px 30px;
    border: 0;
}

::placeholder {
    color: grey;
}

.quote-section .container .quote-right .orangebtn {
    width: 35%;
    font-size: 13px;
    font-weight: bold;
    margin-top: 20px;
    background: #ff6433;
    border-radius: 12px;
    padding: 16px 40px;
    border: 0;
    color: #fff;
}

/* Section three */

.booking-section {
    width: 100%;
}

.booking-section .container {
    width: 100%;
    display: flex;
    margin-top: 100px;
    margin-bottom: 80px;
}

.booking-section .container .booking-left {
    width: 50%;
    margin-left: 10%;
    padding: 10px;
    /* background-color: #E2E6E9; */
}

.booking-section .container .booking-left .left-section {
    flex: 1;
}

.booking-section .container .booking-left .left-section h1 {
    margin-top: 20%;
    font-size: 48px;
}

.booking-section .container .booking-left p {
    margin-top: 15px;
    font-size: 16px;
    color: grey;
}

.orangebtn {
    /* button */
    width: 35%;
    font-size: 13px;
    font-weight: bold;
    margin-top: 20px;
    background: #ff6433;
    border-radius: 12px;
    padding: 16px 40px;
    border: 0;
    color: #fff;
}

.booking-right {
    width: 50%;
    height: 100%;
    margin-right: 10%;
    padding: 10px;
    /* background-color: #661ce7; */
}

.booking-section .container .booking-right .right-section {
    width: 100%;
}

.booking-section .container .booking-right .right-section ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.booking-section .container .booking-right .right-section ul li {
    margin-bottom: 40px;
}

.imagebox {
    margin-right: 10px;
    margin-top: 2%;
}

.imagebox img {
    width: 80%;
}

.booking-section .container .booking-right .right-section ul li h3 {
    margin-top: 5px;
    font-size: 32px;
}

.line {
    /* Line */
    margin-left: 18px;
    margin-top: 10%;
    margin-bottom: 20%;
    height: 50%;
    border-left: 2px dashed #ff6433;
}

.booking-section .container .booking-right .right-section ul li p {
    margin-top: 15px;
    font-size: 16px;
    color: grey;
}

/* Section four */
.offerd-section {
    background-color: #f2f2f2;
    width: 100%;
}

.offerd-section .container {
    width: 100%;
    display: flex;
    margin-top: 100px;
}

.offerd-section .container .offerd-center {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 5%;
    padding: 10px;
}

.offerd-section .container .top-section {
    text-align: center;
    margin-top: 5%;
}

.offerd-section .container .top-section h4 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 2%;
}

.offerd-section .container .top-section h2 {
    font-size: 48px;
}

.offerd-section .container .frame {
    /* height: 450px; */
    display: flex;
    justify-content: center;
    align-content: space-between;
    margin-top: 5%;
}

.offerd-section .container .frame #boxrow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.offerd-section .container .frame #boxrow .box {
    width: 235px;
    height: 222px;
    margin: 2px;
    background-color: #fff;
    transition: background-color 0.3s ease-in-out;
    text-align: center;
    padding: 65px;
}

.offerd-section .container .frame #boxrow .box:nth-child(3) {
    background-color: #ff5733;
}

.offerd-section .container .frame #boxrow .box:hover {
    /* Hover effect */
    background-color: #ff5733;
}

.offerd-section .container .subframe {
    margin-top: 20px;
    justify-content: center;
}

.offerd-section .container .subframe a p {
    margin-right: 150px;
    text-align: right;
}

.offerd-section .container .subframe img {
    margin-top: -18px;
    margin-right: 80px;
    float: right;
}

/*Section five*/

.cta-section {
    width: 100%;
}

.cta-section .container {
    width: 100%;
    display: flex;
    margin: 0;
}

.cta-section .container .cta-box {
    width: 100%;
}

.car-image {
    background-image: url("https://fidellabz.github.io/finsweet-task/img/car.image.png");
    background-size: cover;
    background-position: center;
    width: 590px;
    height: 300px;
}

.carconnect-image {
    background-image: url("https://fidellabz.github.io/finsweet-task/img/car.connect.png");
    background-size: cover;
    background-position: center;
    width: 200%;
    height: 300px;
    margin-left: 2%;
}

.contact-box {
    display: flex;
    align-items: center;
    margin-left: 250px;
    background-color: #ff6433;
    width: 729px;
    height: 300px;
}

.orangebox-text h4 {
    margin-left: 50px;
    font-size: 24px;
    color: white;
}

.btn {
    width: 65%;
    margin: 30px auto 0 auto;
}

.blackbtn {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    background-color: #1e1b1b;
    border-radius: 12px;
    font-size: 13px;
}

/* Section six */

.exp {
    /* padding: 20px; */
    display: flex;
}

.exp-properties {
    width: 80%;
    margin: auto;
    justify-content: space-between;
}

.exp-box {
    width: 100%;
    background-color: #f2f2f2;
}

.exp-box p {
    color: #1e1b1b;
    opacity: 0.7;
}

.exp-amount {
    font-size: 48px;
    color: #661ce7;
    font-weight: bold;
}

.exp-amount:hover {
    color: #ff6433;
}

/*Section seven*/
.brand-section {
    width: 100%;
    /* margin: auto;
    display: flex; */
}

.brand-section .container {
    width: 100%;
    display: flex;
    margin-top: 100px;
    margin-bottom: 80px;
}

.brand-section .container .brand-center {
    width: 80%;
    margin-left: 10%;
    padding: 10px;
    /* background-color: #a85757; */
}

.brand {
    text-align: center;
}

.brand h2 {
    font-size: 32px;
}

.brand-section .container .frame {
    /* height: 350px; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    align-content: space-between;
}

.brand-section .container .frame #boxrow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.brand-section .container .frame #boxrow .boxsize img {
    width: 80%px;
    /* border: 1px solid#000 */
}

/* Mobile Styles */

@media(max-width: 480px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }

    header {
        width: 100%;
        font-size: 10px;
        padding: 10px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
        column-gap: 0;
    }

    nav ul {
        align-items: flex-start;
        border: none;
    }

    nav ul li {
        margin-bottom: 10px;
    }

    nav .right-contact {
        column-gap: 0;
        align-items: flex-end;
        width: 100%;
    }

    nav .right-contact .right-contact-icon img {
        width: 50%;
    }

    nav .right-contact .right-contact-text {
        font-size: 10px;
    }

    /* section one */
    main .container .left-section,
    main .container .right-img {
        width: 100%;
        /* background-color: #153d5c; */
    }

    main .container {
        flex-direction: column;
        width: 100%;
    }

    main .container .left-section .content {
        width: 100%;
    }

    main .container .left-section h1 {
        width: 100%;
        font-size: 32px;
    }

    main .container .left-section .orangebtn {
        width: 60%;
        font-size: 60%;
    }

    main .container .left-section .time-section {
        margin-top: 10px;
        width: 100%;
    }

    .time-section img {
        width: 60%;
    }

    .text-section .time-text {
        width: 95%;
    }

    main .container .left-section {
        width: 100%;
        /* background-color: #153d5c; */
    }

    .right-img {
        margin-top: 30px;
    }

    /******Quote******/
    .quote-section .container {
        width: 100%;
        flex-direction: column;
    }

    .quote-section .container .quote-left {
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .quote-section .container .quote-left .left-section {
        width: 80%;
    }

    .quote-section .container .quote-left .left-section h1 {
        font-size: 28px;
    }

    .quote-section .container .quote-left .left-section ul li h5 {
        font-size: 18px;
    }

    .quote-section .container .quote-left .left-section ul li p {
        font-size: 10px;
    }

    .textbox {
        width: 70%;
    }

    .quote-section .container .quote-right {
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .quote-section .container .quote-right .right-section {
        width: 80%;
    }

    .quote-section .container .quote-right .right-section h3 {
        font-size: 28px;
    }

    .quote-section .container .quote-right form .inputbox {
        width: 80%;
    }

    .quote-section .container .quote-right form .orangebtn {
        width: 50%;
        font-size: 60%;
    }

    /*********booking***********/

    .booking-section .container {
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }

    .booking-section .container .booking-left {
        width: 80%;
    }

    .booking-section .container .booking-left .left-section {
        width: 80%;
    }

    .booking-section .container .booking-left p {
        font-size: 12px;
    }

    .booking-section .container .booking-left .left-section h1 {
        font-size: 28px;
    }

    .orangebtn {
        width: 60%;
        font-size: 50%;
    }

    .booking-section .container .booking-right {
        width: 80%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .booking-section .container .booking-right .right-section {
        width: 90%;
        margin-top: 5%;
        /* background-color: #885050; */
    }

    .booking-section .container .booking-right .right-section ul li h3 {
        font-size: 18px;
    }

    .booking-section .container .booking-right .right-section ul li p {
        font-size: 10px;
    }

    /**************offer************/
    .offerd-section .container {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .offerd-section .container .offerd-center {
        width: 80%;
    }

    .offerd-section .container .top-section h4 {
        font-size: 10px;
    }

    .offerd-section .container .top-section h2 {
        font-size: 28px;
    }

    .offerd-section .container .frame #boxrow .box {
        width: 125px;
        height: 125px;
        margin: 2px;
        background-color: #fff;
        transition: background-color 0.3s ease-in-out;
        text-align: center;
        padding: 21px;
        font-size: 10px;
    }

    .offerd-section .container .subframe p {
        font-size: 12px
    }

    .offerd-section .container .frame #boxrow .box:nth-child(3) {
        background-color: #ff5733;
    }

    .offerd-section .container .frame #boxrow .box:hover {
        background-color: #ff5733;
    }

    /*****contact******/
    .contact-box {
        margin-left: 60px;
    }

    .orangebox-text h4 {
        font-size: 18px;
    }

    .exp-amount {
        font-size: 28px;
        color: #661ce7;
        font-weight: bold;
    }

    .exp-box p {
        font-size: 8px;
    }

    /************brands*********/

    .brand-section .container .brand-center {
        margin: 0;
        padding: 0
    }

    .brand h2 {
        font-size: 24px;
    }

    .brand-section .container .frame #boxrow {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .brand-section .container .frame #boxrow .boxsize img {
        width: 40%px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }

    header {
        width: 100%;
        font-size: 10px;
        padding: 10px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
        column-gap: 0;
    }

    nav ul {
        align-items: flex-start;
        border: none;
    }

    nav ul li {
        margin-bottom: 10px;
    }

    nav .right-contact {
        column-gap: 0;
        align-items: flex-end;
        width: 100%;
    }

    nav .right-contact .right-contact-icon img {
        width: 50%;
    }

    nav .right-contact .right-contact-text {
        font-size: 10px;
    }

    /* section one */
    main .container .left-section,
    main .container .right-img {
        width: 100%;
        /* background-color: #153d5c; */
    }

    main .container {
        flex-direction: column;
        width: 100%;
    }

    main .container .left-section .content {
        width: 100%;
    }

    main .container .left-section h1 {
        width: 100%;
        font-size: 32px;
    }

    main .container .left-section .orangebtn {
        width: 60%;
        font-size: 60%;
    }

    main .container .left-section .time-section {
        margin-top: 10px;
        width: 100%;
    }

    .time-section img {
        width: 60%;
    }

    .text-section .time-text {
        width: 95%;
    }

    main .container .left-section {
        width: 100%;
        /* background-color: #153d5c; */
    }

    .right-img {
        margin-top: 30px;
    }

    /******Quote******/
    .quote-section .container {
        width: 100%;
        flex-direction: column;
    }

    .quote-section .container .quote-left {
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .quote-section .container .quote-left .left-section {
        width: 80%;
    }

    .quote-section .container .quote-left .left-section h1 {
        font-size: 28px;
    }

    .quote-section .container .quote-left .left-section ul li h5 {
        font-size: 18px;
    }

    .quote-section .container .quote-left .left-section ul li p {
        font-size: 10px;
    }

    .textbox {
        width: 70%;
    }

    .quote-section .container .quote-right {
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .quote-section .container .quote-right .right-section {
        width: 80%;
    }

    .quote-section .container .quote-right .right-section h3 {
        font-size: 28px;
    }

    .quote-section .container .quote-right form .inputbox {
        width: 80%;
    }

    .quote-section .container .quote-right form .orangebtn {
        width: 50%;
        font-size: 60%;
    }

    /*********booking***********/

    .booking-section .container {
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }

    .booking-section .container .booking-left {
        width: 80%;
    }

    .booking-section .container .booking-left .left-section {
        width: 80%;
    }

    .booking-section .container .booking-left p {
        font-size: 12px;
    }

    .booking-section .container .booking-left .left-section h1 {
        font-size: 28px;
    }

    .orangebtn {
        width: 60%;
        font-size: 50%;
    }

    .booking-section .container .booking-right {
        width: 80%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .booking-section .container .booking-right .right-section {
        width: 90%;
        margin-top: 5%;
        /* background-color: #885050; */
    }

    .booking-section .container .booking-right .right-section ul li h3 {
        font-size: 18px;
    }

    .booking-section .container .booking-right .right-section ul li p {
        font-size: 10px;
    }

    /**************offer************/
    .offerd-section .container {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .offerd-section .container .offerd-center {
        width: 80%;
    }

    .offerd-section .container .top-section h4 {
        font-size: 10px;
    }

    .offerd-section .container .top-section h2 {
        font-size: 28px;
    }

    .offerd-section .container .frame #boxrow .box {
        width: 125px;
        height: 125px;
        margin: 2px;
        background-color: #fff;
        transition: background-color 0.3s ease-in-out;
        text-align: center;
        padding: 21px;
        font-size: 10px;
    }

    .offerd-section .container .subframe p {
        font-size: 12px
    }

    .offerd-section .container .frame #boxrow .box:nth-child(3) {
        background-color: #ff5733;
    }

    .offerd-section .container .frame #boxrow .box:hover {
        background-color: #ff5733;
    }

    /*****contact******/
    .contact-box {
        margin-left: 60px;
    }

    .orangebox-text h4 {
        font-size: 18px;
    }

    .exp-amount {
        font-size: 28px;
        color: #661ce7;
        font-weight: bold;
    }

    .exp-box p {
        font-size: 8px;
    }

    /************brands*********/

    .brand-section .container .brand-center {
        margin: 0;
        padding: 0
    }

    .brand h2 {
        font-size: 24px;
    }

    .brand-section .container .frame #boxrow {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .brand-section .container .frame #boxrow .boxsize img {
        width: 40%px;
    }
}