* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Manrope;
}

header {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 10px 20px;
    font-size: 12px;
}

nav {
    display: flex;
    align-items: center;
    column-gap: 20px;

}

nav ul {
    display: flex;
    align-items: center;
    column-gap: 15px;
    border-right: 1px solid gray;
    padding-right: 20px;
}

nav ul li {
    list-style: none;
}

nav .right-contact {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

nav .right-contact .right-contact-icon {
    width: 20%;
}

nav .right-contact .right-contact-text {
    font-size: 10px;
    line-height: 15px;
}

nav .right-contact .right-contact-text #roadtext {
    color: grey;
}

/* main styling */

main {
    /* height: 91vh; */
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .container {
    width: 100%;
    height: 80%;
    display: flex;
}

main .container .left-text {
    width: 55%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color:#E2E6E9; */
}

main .container .left-text .content {
    width: 80%;
}

main .container .left-text h1 {
    width: 70%;
    font-size: 40px;
}

/* Button */
main .container .left-text .orangebtn {
    width: 35%;
    font-size: 13px;
    margin-top: 5%;
    background: #FF6433;
    border-radius: 12px;
    padding: 16px 40px;
    border: 0;
    color: #fff;
}

main .container .left-text .time-section {
    display: flex;
    align-items: center;
    margin-top: 30px;
    font-size: 12px;
}

.time-section img {
    width: 60%;
}

.text-section .time-text {
    width: 95%;
}

.time-text .lightgrey {
    color: grey;
}

main .container .right-img {
    width: 50%;
    height: 100%;
    background-image: url("/img/pexel.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

main .container .right-img #services {
    margin-left: -20%;
}

main .container .right-img #ratings {
    margin-left: 50%;
}

/* Quote Section */

.quote-section {
    width: 100%;
    height: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E2E6E9
}

.quote-section .container {
    width: 100%;
    height: 80%;
    display: flex;
}

.quote-section .container .left-section {
    width: 55%;
    height: 100%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    /* background-color: yellow; */
}

.quote-section .container .left-section .left-text h1 {
    width: 60%;
    margin-top: 20%;
}

.quote-section .container .right-section {
    width: 50%;
    height: 100%;
    margin-right: 10%;
    /* background-color: #FF6433; */

}

.quote-section .container .right-section .right-text h1 {
    width: 60%;
    margin-top: 22%;
}